<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/common}"
>
<head>
<meta charset="UTF-8">
<title>フロア情報</title>
</head>
<body>
<div layout:fragment="contents" th:object="${client}">
	
	<div th:replace="~{client/fragment/title :: title}"></div>
	
	<h3>フロアの追加</h3>

	<form th:action="@{''}" method="post">
		<input type="hidden" th:field="*{id}">
		<div class="form-group">
			<label for="floorName">フロア名</label>
			<input type="text" required th:field="${floor.floorName}" id="floorName" class="form-control">
		</div>
		
		<input type="submit" value="保存" class="btn btn-primary m-3">
	</form>
	
	<h3>登録済みのフロア</h3>
	<div th:unless="*{#lists.isEmpty(floors)}" class="row">
		<div class="col">
			<table class="table">
				<tr>
					<td>フロア名</td>
					<td></td>
					<td></td>
				</tr>
			    <tr th:each="floor : *{floors}">
			    	<td th:text="${floor.floorName}"></td>
			    	<td><a th:href="@{|/client/*{id}/floor/${floor.id}/edit|}">編集</td>
			    	<td><a th:href="@{|/client/*{id}/floor/${floor.id}/delete|}" onclick="return confirm('本当に削除してよろしいですか？')" class="text-danger">削除</a></td>
			   </tr>
			</table>
		</div>
	</div>
	<div th:if="*{#lists.isEmpty(floors)}" class="row">
		<p>※フロアが登録されていません</p>
	</div>
<script type="text/javascript" src="/js/zipsearch.js"></script>
<script type="text/javascript" src="/js/html2canvas.min.js"></script>
</div>
</body>
</html>