<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/common}"
>
<head>
<meta charset="UTF-8">
<title>スクールサーチWeb</title>
</head>

<body>

<!-- 個別コンテンツここから -->
<div layout:fragment="contents">
<section>
<div class="row">
	<div class="col mx-auto">
		<h2 class="m-3 text-center">スクールを探す</h2>
		<div class="mb-3 text-center fadein-scroll">
			<div class="col">
				<a href="/search">
					<img th:src="@{/img/icon-search.png}" alt="search-icon" class="img-fluid btn-shadow">
				</a>
			</div>
		</div>
	</div>
</div>
</section>

</div>
<!-- 個別コンテンツここまで -->

</body>
</html>